<div class="fluid-frame" ng-controller="FLUIDFrameController">
	<fluid-modal is-visible="displayModal" form-model="modal_form_model"></fluid-modal>
	<div class="ff-topbar"></div>
	<div class="ff-sidebar">
		<div ng-controller="FLUIDMenuController" class="sidebar-menu">
			<div class="buttons">
				<a href="javascript://"><div class="back" ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></div></a>
				<a href="javascript://"><div class="home" ng-click="goHome()"><i class="fa fa-home fa-2x"></i></div></a>
				<a href="javascript://"><div class="stared" ng-click="goStared()"><i class="fa fa-star fa-2x"></i></div></a>
			</div>
			<div class="menu-container" style="margin-left: {{ -(depth * 30) }}rem">
				<div class="menu">
					<div class="menu-item selection" ng-repeat="menuItem in stared">
						<div class="menu-item-options">
							<a href="javscript://" ng-click="selectMenuItem( menuItem )" class="menu-item-option add">
								<i class="fa fa-plus-circle fa-1x"></i></a>
							<a href="javscript://" ng-click="toggleStar( menuItem )" class="menu-item-option star{{ menuItem.stared ? 'ed' : '' }}">
								<i class="fa {{ menuItem.stared ? 'fa-star' : 'fa-star-o' }}"></i></a>
						</div>
						<div class="menu-item-label">{{ menuItem.key }}</div>
					</div>
				</div>
				<div class="menu">
					<a href="javscript://" ng-click="selectMenuItem( rootItem )" ng-repeat="rootItem in menu">
						<div class="menu-item">{{ rootItem.key }}
							<i ng-show="rootItem.children.length>0" class="fa fa-angle-right has-children"></i></div></a>
				</div>
				<div class="menu" ng-repeat="menuPage in menus">
					<div class="menu-item {{ menuItem.children.length>0 ? '' : 'selection' }}" ng-repeat="menuItem in menuPage">
						<div ng-hide="menuItem.children.length>0" class="menu-container">
							<div class="menu-item-options">
								<a href="javscript://" ng-click="selectMenuItem( menuItem )" class="menu-item-option add">
									<i class="fa fa-plus-circle fa-1x"></i></a>
								<a href="javscript://" ng-click="toggleStar( menuItem )" class="menu-item-option star{{ menuItem.stared ? 'ed' : '' }}">
									<i class="fa {{ menuItem.stared ? 'fa-star' : 'fa-star-o' }}"></i></a>
							</div>
							<div class="menu-item-label">{{ menuItem.key }}</div>
						</div>
						<a href="javscript://" ng-click="selectMenuItem( menuItem )"><div ng-show="menuItem.children.length>0" class="menu-container">
							<div>{{ menuItem.key }}<i class="fa fa-angle-right has-children"></i></div>
						</div></a>
					</div>
				</div>
				<create-new-package active-package="active_package"></create-new-package>
			</div>
		</div>	
	</div>
	<div class="ff-container" fluid-browser active-package="active_package"></div>
</div>