<div class="zappi-product-box">

	<div class="row product-logo {{ product.logo }}">
		<div class="col-md-12">

		</div>
	</div>

	<div class="row product-name">
		<div class="col-md-12">
			{{ product.name }}
		</div>
	</div>	

	<div class="row product-description">
		<div class="col-md-12">
			{{ product.description }}
		</div>
	</div>

	<div class="row starting-label">
		<div class="col-md-12">
			Starting At	
		</div>
	</div>

	<div class="row product-price primary-color-text">
		<div class="col-md-12">
			£{{ product.price }}
		</div>
	</div>

	<div class="row product-buttons">
		<div class="col-md-6">
			<a href="#/new-design/product"><button class="zappi-button interaction-action">Details</button></a>
		</div>
		<div class="col-md-6">
			<a href="#/new-design/product"><button class="zappi-button">Get Started</button></a>
		</div>
	<div>

</div>