<proto-customise-header header-skin="linknow-full" header-title="Your Homepage" page-title="ZappiStore" page-model="page"></proto-customise-header>

<div class="zappi-styles zappi-form zappi-page container domain-dashboard">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('my-account')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_account"></div>
							<h1 class="title">My Account</h1>
							<div class="information-text line-space-below">
								Manage your current contact details, update your account settings and manage your contact preferences.
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('custom-domain-contacts')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_contacts"></div>
							<h1 class="title primary-color">Team Contacts</h1>
							<div class="information-text line-space-below">
								Complete listing of the key contacts for your ZappiStore account. Including contact details for your regional support
								team.
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('custom-domain-products')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_create"></div>
							<h1 class="title">Survey Templates</h1>
							<div class="information-text line-space-below">
								Create a new market research survey and send collect your results in hours.
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('my-reports')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_reports"></div>
							<h1 class="title">Reports</h1>
							<div class="information-text line-space-below">
								Access to all your survey data. Download reports from currently completed and historical surveys in Powerpoint and excel format.
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('my-reports')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_knowledge"></div>
							<h1 class="title">Zappi Knowledge Base</h1>
							<div class="information-text line-space-below">
								Comprehensive guides to many of the products we offer and answers to many of the questions we are frequenty asked.
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('my-reports')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_chat"></div>
							<h1 class="title">Chat To A Team Member</h1>
							<div class="information-text line-space-below">
								Instant answers to any question you have relating to ZappiStore and our products. Request a callback from a member of our team or chat to our staff online.
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="link-block" href="javascipt://" ng-click="gotoPage('my-reports')">
						<div class="dashboard-area">
							<div class="icon common-artwork-portal_icon_bug"></div>
							<h1 class="title">Report An Issue</h1>
							<div class="information-text line-space-below">
								Support is at the heart of the service we offer. Report an issue with your account and track the progress.
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>