.zappi-form-introduction {

	@extend .zappi-white.background;
	@extend .z-border-radius;
	@extend .zappi-form-section;
	@extend .typography.regular-text;
	@extend .zappi-light-grey-bg;
	@extend .zappi-black-txt;

	padding: 10px;

	.zappi-button {
		margin-right: 10px;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 10px;
	}
}