.zappi-option-group {
	width: 100%;
	margin: 10px 0;
	display: inline-block;
	.zappi-option-group-label {
		margin: 0 10px 10px;
		min-width: 140px;
		float: left;
		padding: 10px 15px;
		border-radius: 20px;
		line-height: 20px;
		background-color: #DDDDDD;
		text-align: center;
	}
}