.zappi-question {

	@extend .typography.regular-text;

	margin-top: 0px;
	margin-bottom: 10px;

	&:first-of-type {
		margin-top: 0px;
	}
	
	* {
		@extend .typography.medium-text;
	}

	&.small-margin {
		margin-top: 20px;
	}
	
	b {
		@extend .typography.regular-text;
	}

	&.summarised {
		margin-bottom: 10px;
		margin-top: 0;
		.title {
			margin-right: 20px;
		}
		.value {
			@extend .zappi-grey.colored-text;
		}
		.title, .value {
			@extend .typography.regular-text;
		}
	}

	&.as-title {
		@extend .typography.big-text;
		margin-bottom: 30px;
	}
}