&.widget_nav_menu,
&.widget_categories {

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		padding: 0;
		margin: 0;
		position: relative;
	}

	a {
		@extend .zappi-button-base;
		@extend .zappi-button-base.as-tag;
		display: inline-block;
	}
}