<proto-customise-header header-title="My Contacts" page-model="page"></proto-customise-header>

<div class="zappi-styles zappi-form zappi-products container domain-contacts" ng-controller="ContactsController">
	<div class="row">
		<div class="col-md-12">
			<div class="team-key">
				<div class="team-key-item"><span class="key-marker global-account-owner-marker "></span>Global Account Owner</div>
				<div class="team-key-item"><span class="key-marker account-lead-marker"></span>Account Lead</div>
				<div class="team-key-item"><span class="key-marker client-excellence-marker"></span>Client Excellence</div>
				<div class="team-key-item"><span class="key-marker support-marker"></span>Support</div>
			</div>
		</div>
	</div><!--
	<div class="row">
		<div class="{{ contacts.domain.regions.length<=2 ? 'col-md-6' : 'col-md-6' }} region" ng-repeat="region in contacts.domain.regions">
			<h1 class="region-name">{{ region.region }}</h1>
			<div class="row">
				<div ng-repeat="team_member in region.team_members" class="{{ contacts.domain.regions.length<=2 ? 'col-md-6' : 'col-md-6' }} contact">
					<a href="mailto:{{ contact.meta.email }}">
						<div class="contact-card {{ getTeamPositionClasses( team_member ) }}">
							<div class="contact-image">
								<div class="initials">{{ getInitials( team_member.contact_details ) }}</div>
							</div>
							<div class="contact-name"><h2>{{ team_member.contact_details.forname }} {{ team_member.contact_details.surname }}</h2></div>
							<div class="contact-position">{{ team_member.contact_details.positions.join(', ') }} &nbsp;</div>
							<div class="contact-telephone">t: {{ team_member.contact_details.telephone}} &nbsp;</div>
							<div class="contact-email">e: {{ team_member.contact_details.email }}</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>-->
</div>

<div class="zappi-styles zappi-form zappi-team container">
	<div class="row team-profile">
		<div class="col-md-7">
			<div class="profile-copy">
				<div class="team-name">Jack Johnson</div>
				<div class="team-position">Product Manager</div>
				<div class="team-blurb">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim interdum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel ante sapien. Duis malesuada velit at orci tempus, id cursus neque sollicitudin. Aliquam at tristique tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquet quam id quam sodales placerat.
				</div>
				<nav class="team-profile-navigation">
					<ul>
						<li><button class="email-button zappi-icon_contact">jack@zappistore.com</button></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-5">
			<div class="team-photo liam"></div>
		</div>
	</div>
</div>

<div class="zappi-styles zappi-form zappi-team container">
	<div class="row team-profile">
		<div class="col-md-5 profile-photo">
			<div class="team-photo paul"></div>
		</div>
		<div class="col-md-7 profile-right">
			<div class="profile-copy">
				<div class="team-name">Jack Johnson</div>
				<div class="team-position">Product Manager</div>
				<div class="team-blurb">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim interdum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel ante sapien. Duis malesuada velit at orci tempus, id cursus neque sollicitudin. Aliquam at tristique tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquet quam id quam sodales placerat.
				</div>
				<nav class="team-profile-navigation">
					<ul>
						<li><button class="email-button zappi-icon_contact">jack@zappistore.com</button></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="zappi-styles zappi-form zappi-team container">
	<div class="row team-profile">
		<div class="col-md-7">
			<div class="profile-copy">
				<div class="team-name">Jack Johnson</div>
				<div class="team-position">Product Manager</div>
				<div class="team-blurb">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim interdum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel ante sapien. Duis malesuada velit at orci tempus, id cursus neque sollicitudin. Aliquam at tristique tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquet quam id quam sodales placerat.
				</div>
				<nav class="team-profile-navigation">
					<ul>
						<li><button class="email-button zappi-icon_contact">jack@zappistore.com</button></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-5">
			<div class="team-photo simona"></div>
		</div>
	</div>
</div>